In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

df = pd.read_csv('Resources/loans_full_schema.csv')

In [2]:
column_info = []
object_df = pd.DataFrame()

for column in df.columns:
    if df[column].dtype == 'object':
      name = df[column].name
      object_df[name] = df[column].to_frame()
      column_data_type = df[column].dtype
      unique_values = df[column].nunique()
      sample_values = df[column].sample(5).values  # Get 5 sample values
      non_null = df[column].notnull().sum()
      null_values = df[column].isnull().sum()
      null_percent = df[column].isnull().sum()/len(df)  # percent nulls
      column_info.append({
          'Column Name': column,
          'Data Type': column_data_type,
          'Unique Values': unique_values,
          'Non Null': non_null,
          'Null Values': null_values,
          'Null Percent':  null_percent,
          'Sample Values': sample_values
      })

column_summary = pd.DataFrame(column_info)
num_rows, num_columns = object_df.shape

# Display the summary
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
print("\nColumn Information:")
print(column_summary)

Number of rows: 10000
Number of columns: 13

Column Information:
                  Column Name Data Type  Unique Values  Non Null  Null Values  \
0                   emp_title    object           4741      9167          833
1                       state    object             50     10000            0
2               homeownership    object              3     10000            0
3             verified_income    object              3     10000            0
4   verification_income_joint    object              3      1455         8545
5                loan_purpose    object             12     10000            0
6            application_type    object              2     10000            0
7                       grade    object              7     10000            0
8                   sub_grade    object             32     10000            0
9                 issue_month    object              3     10000            0
10                loan_status    object              6     10000            0
11     initial_listing_status    object              2     10000            0
12        disbursement_method    object              2     10000            0

    Null Percent                                      Sample Values
0         0.0833  [director of finance, owner, senior brand mana...
1         0.0000                               [OH, CA, NC, WV, MD]
2         0.0000             [MORTGAGE, MORTGAGE, RENT, RENT, RENT]
3         0.0000  [Source Verified, Not Verified, Verified, Sour...
4         0.8545              [nan, nan, nan, Source Verified, nan]
5         0.0000  [credit_card, medical, debt_consolidation, deb...
6         0.0000  [individual, individual, individual, individua...
7         0.0000                                    [A, B, A, B, C]
8         0.0000                               [E4, B4, D3, C2, B2]
9         0.0000           [Jan-18, Mar-18, Jan-18, Feb-18, Jan-18]
10        0.0000      [Current, Current, Current, Current, Current]
11        0.0000                [whole, whole, whole, whole, whole]
12        0.0000                     [Cash, Cash, Cash, Cash, Cash]

In [3]:
object_df['emp_title'].fillna(value="Other",inplace=True)

In [4]:
object_df = object_df.drop('verification_income_joint', axis=1)

In [5]:
object_df.head()

,emp_title,state,homeownership,verified_income,loan_purpose,application_type,grade,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method
0,global config engineer,NJ,MORTGAGE,Verified,moving,individual,C,C3,Mar-18,Current,whole,Cash
1,warehouse office clerk,HI,RENT,Not Verified,debt_consolidation,individual,C,C1,Feb-18,Current,whole,Cash
2,assembly,WI,RENT,Source Verified,other,individual,D,D1,Feb-18,Current,fractional,Cash
3,customer service,PA,RENT,Not Verified,debt_consolidation,individual,A,A3,Jan-18,Current,whole,Cash
4,security supervisor,CA,RENT,Verified,credit_card,joint,C,C3,Mar-18,Current,whole,Cash

In [6]:
object_df.isnull().sum()

emp_title                 0
state                     0
homeownership             0
verified_income           0
loan_purpose              0
application_type          0
grade                     0
sub_grade                 0
issue_month               0
loan_status               0
initial_listing_status    0
disbursement_method       0
dtype: int64

In [7]:
column_info = []
numerical_df = pd.DataFrame()

for column in df.columns:
    if df[column].dtype == 'int64' or df[column].dtype == 'float64':
      name = df[column].name
      numerical_df[name] = df[column].to_frame()
      column_data_type = df[column].dtype
      unique_values = df[column].nunique()
      sample_values = df[column].sample(5).values  # Get 5 sample values
      non_null = df[column].notnull().sum()
      null_values = df[column].isnull().sum()
      null_percent = df[column].isnull().sum()/len(df)  # percent nulls
      column_info.append({
          'Column Name': column,
          'Data Type': column_data_type,
          'Unique Values': unique_values,
          'Non Null': non_null,
          'Null Values': null_values,
          'Null Percent':  null_percent,
          'Sample Values': sample_values
      })

column_summary = pd.DataFrame(column_info)
num_rows, num_columns = df.shape

# Display the summary
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")
print("\nColumn Information:")
print(column_summary)

Number of rows: 10000
Number of columns: 55

Column Information:
                         Column Name Data Type  Unique Values  Non Null  \
0                         emp_length   float64             11      9183
1                      annual_income   float64           1463     10000
2                     debt_to_income   float64           3673      9976
3                annual_income_joint   float64            596      1495
4               debt_to_income_joint   float64           1189      1495
5                          delinq_2y     int64             12     10000
6           months_since_last_delinq   float64             97      4342
7               earliest_credit_line     int64             53     10000
8                 inquiries_last_12m     int64             26     10000
9                 total_credit_lines     int64             78     10000
10                 open_credit_lines     int64             45     10000
11                total_credit_limit     int64           9119     10000
12             total_credit_utilized     int64           9497     10000
13          num_collections_last_12m     int64              4     10000
14      num_historical_failed_to_pay     int64              9     10000
15             months_since_90d_late   float64            106      2285
16           current_accounts_delinq     int64              2     10000
17      total_collection_amount_ever     int64            896     10000
18      current_installment_accounts     int64             30     10000
19               accounts_opened_24m     int64             26     10000
20  months_since_last_credit_inquiry   float64             25      8729
21         num_satisfactory_accounts     int64             45     10000
22        num_accounts_120d_past_due   float64              1      9682
23         num_accounts_30d_past_due     int64              2     10000
24         num_active_debit_accounts     int64             25     10000
25                 total_debit_limit     int64           1222     10000
26             num_total_cc_accounts     int64             56     10000
27              num_open_cc_accounts     int64             40     10000
28           num_cc_carrying_balance     int64             30     10000
29                 num_mort_accounts     int64             15     10000
30      account_never_delinq_percent   float64            282     10000
31                         tax_liens     int64              9     10000
32            public_record_bankrupt     int64              4     10000
33                       loan_amount     int64            612     10000
34                              term     int64              2     10000
35                     interest_rate   float64             58     10000
36                       installment   float64           3540     10000
37                           balance   float64           5741     10000
38                        paid_total   float64           7475     10000
39                    paid_principal   float64           5765     10000
40                     paid_interest   float64           7422     10000
41                    paid_late_fees   float64             29     10000

    Null Values  Null Percent  \
0           817        0.0817
1             0        0.0000
2            24        0.0024
3          8505        0.8505
4          8505        0.8505
5             0        0.0000
6          5658        0.5658
7             0        0.0000
8             0        0.0000
9             0        0.0000
10            0        0.0000
11            0        0.0000
12            0        0.0000
13            0        0.0000
14            0        0.0000
15         7715        0.7715
16            0        0.0000
17            0        0.0000
18            0        0.0000
19            0        0.0000
20         1271        0.1271
21            0        0.0000
22          318        0.0318
23            0        0.0000
24            0        0.0000
25            0        0.0000
26            0        0.0000
27            0        0.0000
28            0        0.0000
29            0        0.0000
30            0        0.0000
31            0        0.0000
32            0        0.0000
33            0        0.0000
34            0        0.0000
35            0        0.0000
36            0        0.0000
37            0        0.0000
38            0        0.0000
39            0        0.0000
40            0        0.0000
41            0        0.0000

                                        Sample Values
0                          [0.0, nan, 3.0, 10.0, 7.0]
1    [100000.0, 112000.0, 52000.0, 41072.0, 260000.0]
2                 [25.32, 23.73, 10.16, 21.78, 16.25]
3                      [nan, nan, nan, nan, 115000.0]
4                          [25.6, nan, nan, nan, nan]
5                                     [0, 0, 0, 0, 0]
6                         [nan, 16.0, 20.0, nan, nan]
7                      [2010, 2004, 1994, 2003, 2002]
8                                     [0, 1, 4, 1, 1]
9                                [33, 23, 51, 21, 15]
10                                [12, 4, 15, 14, 24]
11              [616350, 67330, 14500, 68001, 253098]
12                [32606, 51645, 57403, 39562, 39258]
13                                    [0, 1, 0, 0, 0]
14                                    [0, 0, 0, 0, 0]
15                        [40.0, 35.0, nan, nan, nan]
16                                    [0, 0, 0, 0, 0]
17                                    [0, 0, 0, 0, 0]
18                                    [0, 1, 1, 1, 1]
19                                    [4, 4, 4, 1, 1]
20                         [5.0, 23.0, 3.0, 9.0, 0.0]
21                               [16, 12, 13, 11, 27]
22                          [0.0, 0.0, 0.0, 0.0, 0.0]
23                                    [0, 0, 0, 0, 0]
24                                   [3, 3, 1, 4, 12]
25                [26300, 41700, 10200, 30500, 31000]
26                                 [3, 13, 33, 10, 9]
27                                   [4, 6, 14, 3, 5]
28                                    [5, 4, 6, 4, 1]
29                                    [5, 0, 1, 2, 1]
30                  [100.0, 93.8, 98.2, 100.0, 100.0]
31                                    [0, 0, 0, 0, 0]
32                                    [0, 0, 0, 0, 0]
33                [12600, 10000, 10000, 25000, 35000]
34                               [60, 36, 60, 36, 36]
35                 [22.91, 9.93, 14.07, 11.99, 11.98]
36             [177.29, 737.8, 75.29, 130.79, 762.26]
37  [32559.72, 13478.32, 15749.4, 30546.27, 12916.42]
38          [545.85, 2365.43, 654.59, 748.99, 1383.0]
39        [2064.21, 125.47, 2435.45, 906.26, 3881.37]
40          [143.78, 443.99, 260.19, 1177.47, 306.18]
41                          [0.0, 0.0, 0.0, 0.0, 0.0]

In [8]:
numerical_df.isnull().sum()

emp_length                           817
annual_income                          0
debt_to_income                        24
annual_income_joint                 8505
debt_to_income_joint                8505
delinq_2y                              0
months_since_last_delinq            5658
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
months_since_90d_late               7715
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [9]:
numerical_df = numerical_df.drop(columns=['annual_income_joint','debt_to_income_joint','months_since_last_delinq','months_since_90d_late'])

In [10]:
numerical_df.isnull().sum()

emp_length                           817
annual_income                          0
debt_to_income                        24
delinq_2y                              0
earliest_credit_line                   0
inquiries_last_12m                     0
total_credit_lines                     0
open_credit_lines                      0
total_credit_limit                     0
total_credit_utilized                  0
num_collections_last_12m               0
num_historical_failed_to_pay           0
current_accounts_delinq                0
total_collection_amount_ever           0
current_installment_accounts           0
accounts_opened_24m                    0
months_since_last_credit_inquiry    1271
num_satisfactory_accounts              0
num_accounts_120d_past_due           318
num_accounts_30d_past_due              0
num_active_debit_accounts              0
total_debit_limit                      0
num_total_cc_accounts                  0
num_open_cc_accounts                   0
num_cc_carrying_balance                0
num_mort_accounts                      0
account_never_delinq_percent           0
tax_liens                              0
public_record_bankrupt                 0
loan_amount                            0
term                                   0
interest_rate                          0
installment                            0
balance                                0
paid_total                             0
paid_principal                         0
paid_interest                          0
paid_late_fees                         0
dtype: int64

In [11]:
numerical_df = numerical_df.fillna(numerical_df.median())

In [12]:
numerical_df.isnull().sum()

emp_length                          0
annual_income                       0
debt_to_income                      0
delinq_2y                           0
earliest_credit_line                0
inquiries_last_12m                  0
total_credit_lines                  0
open_credit_lines                   0
total_credit_limit                  0
total_credit_utilized               0
num_collections_last_12m            0
num_historical_failed_to_pay        0
current_accounts_delinq             0
total_collection_amount_ever        0
current_installment_accounts        0
accounts_opened_24m                 0
months_since_last_credit_inquiry    0
num_satisfactory_accounts           0
num_accounts_120d_past_due          0
num_accounts_30d_past_due           0
num_active_debit_accounts           0
total_debit_limit                   0
num_total_cc_accounts               0
num_open_cc_accounts                0
num_cc_carrying_balance             0
num_mort_accounts                   0
account_never_delinq_percent        0
tax_liens                           0
public_record_bankrupt              0
loan_amount                         0
term                                0
interest_rate                       0
installment                         0
balance                             0
paid_total                          0
paid_principal                      0
paid_interest                       0
paid_late_fees                      0
dtype: int64

In [13]:
numerical_df.head()

,emp_length,annual_income,debt_to_income,delinq_2y,earliest_credit_line,inquiries_last_12m,total_credit_lines,open_credit_lines,total_credit_limit,total_credit_utilized,...,public_record_bankrupt,loan_amount,term,interest_rate,installment,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,3.0,90000.0,18.01,0,2001,6,28,10,70795,38767,...,0,28000,60,14.07,652.53,27015.86,1999.33,984.14,1015.19,0.0
1,10.0,40000.0,5.04,0,1996,1,30,14,28800,4321,...,1,5000,36,12.61,167.54,4651.37,499.12,348.63,150.49,0.0
2,3.0,40000.0,21.15,0,2006,4,31,10,24193,16000,...,0,2000,36,17.09,71.40,1824.63,281.80,175.37,106.43,0.0
3,1.0,30000.0,10.16,0,2007,0,4,4,25400,4997,...,0,21600,36,6.72,664.19,18853.26,3312.89,2746.74,566.15,0.0
4,10.0,35000.0,57.96,0,2008,7,22,16,69839,52722,...,0,23000,36,14.07,786.87,21430.15,2324.65,1569.85,754.80,0.0

In [14]:
numerical_df.shape

(10000, 38)

In [15]:
object_df.shape

(10000, 12)

In [16]:
df_concat = pd.concat([object_df,numerical_df],axis=1)

In [17]:
df_concat

,emp_title,state,homeownership,verified_income,loan_purpose,application_type,grade,sub_grade,issue_month,loan_status,...,public_record_bankrupt,loan_amount,term,interest_rate,installment,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,NJ,MORTGAGE,Verified,moving,individual,C,C3,Mar-18,Current,...,0,28000,60,14.07,652.53,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,HI,RENT,Not Verified,debt_consolidation,individual,C,C1,Feb-18,Current,...,1,5000,36,12.61,167.54,4651.37,499.12,348.63,150.49,0.0
2,assembly,WI,RENT,Source Verified,other,individual,D,D1,Feb-18,Current,...,0,2000,36,17.09,71.40,1824.63,281.80,175.37,106.43,0.0
3,customer service,PA,RENT,Not Verified,debt_consolidation,individual,A,A3,Jan-18,Current,...,0,21600,36,6.72,664.19,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,CA,RENT,Verified,credit_card,joint,C,C3,Mar-18,Current,...,0,23000,36,14.07,786.87,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,TX,RENT,Source Verified,other,individual,A,A4,Jan-18,Current,...,1,24000,36,7.35,744.90,21586.34,2969.80,2413.66,556.14,0.0
9996,director,PA,MORTGAGE,Verified,debt_consolidation,individual,D,D3,Feb-18,Current,...,0,10000,36,19.03,366.72,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,CT,MORTGAGE,Verified,debt_consolidation,joint,E,E2,Feb-18,Current,...,0,30000,36,23.88,1175.10,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,WI,MORTGAGE,Source Verified,other,individual,A,A1,Feb-18,Current,...,0,24000,36,5.32,722.76,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,CT,RENT,Not Verified,credit_card,individual,B,B4,Feb-18,Current,...,0,12800,36,10.91,418.52,11574.83,1658.56,1225.17,433.39,0.0

In [18]:
def categorize_risk(status):
    if status in ['Fully Paid', 'Current']:
        return 0
    elif status in ['In grace period', 'Late(31-120days)', 'Late(16-30days)']:
        return 1
    else:
        return 1

# Create new column 'Risk_Category' based on Loan_Status
df_concat['Risk_Category'] = df_concat['loan_status'].apply(categorize_risk)

In [19]:
df_concat.columns
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   emp_title                         10000 non-null  object
 1   state                             10000 non-null  object
 2   homeownership                     10000 non-null  object
 3   verified_income                   10000 non-null  object
 4   loan_purpose                      10000 non-null  object
 5   application_type                  10000 non-null  object
 6   grade                             10000 non-null  object
 7   sub_grade                         10000 non-null  object
 8   issue_month                       10000 non-null  object
 9   loan_status                       10000 non-null  object
 10  initial_listing_status            10000 non-null  object
 11  disbursement_method               10000 non-null  object
 12  emp_length                        10000 non-null  float64
 13  annual_income                     10000 non-null  float64
 14  debt_to_income                    10000 non-null  float64
 15  delinq_2y                         10000 non-null  int64
 16  earliest_credit_line              10000 non-null  int64
 17  inquiries_last_12m                10000 non-null  int64
 18  total_credit_lines                10000 non-null  int64
 19  open_credit_lines                 10000 non-null  int64
 20  total_credit_limit                10000 non-null  int64
 21  total_credit_utilized             10000 non-null  int64
 22  num_collections_last_12m          10000 non-null  int64
 23  num_historical_failed_to_pay      10000 non-null  int64
 24  current_accounts_delinq           10000 non-null  int64
 25  total_collection_amount_ever      10000 non-null  int64
 26  current_installment_accounts      10000 non-null  int64
 27  accounts_opened_24m               10000 non-null  int64
 28  months_since_last_credit_inquiry  10000 non-null  float64
 29  num_satisfactory_accounts         10000 non-null  int64
 30  num_accounts_120d_past_due        10000 non-null  float64
 31  num_accounts_30d_past_due         10000 non-null  int64
 32  num_active_debit_accounts         10000 non-null  int64
 33  total_debit_limit                 10000 non-null  int64
 34  num_total_cc_accounts             10000 non-null  int64
 35  num_open_cc_accounts              10000 non-null  int64
 36  num_cc_carrying_balance           10000 non-null  int64
 37  num_mort_accounts                 10000 non-null  int64
 38  account_never_delinq_percent      10000 non-null  float64
 39  tax_liens                         10000 non-null  int64
 40  public_record_bankrupt            10000 non-null  int64
 41  loan_amount                       10000 non-null  int64
 42  term                              10000 non-null  int64
 43  interest_rate                     10000 non-null  float64
 44  installment                       10000 non-null  float64
 45  balance                           10000 non-null  float64
 46  paid_total                        10000 non-null  float64
 47  paid_principal                    10000 non-null  float64
 48  paid_interest                     10000 non-null  float64
 49  paid_late_fees                    10000 non-null  float64
 50  Risk_Category                     10000 non-null  int64
dtypes: float64(13), int64(26), object(12)
memory usage: 3.9+ MB

In [20]:
#df_concat.drop('loan_status', inplace=True, axis=1)


# Identify categorical variables in df_concat
categorical_variables = list(df_concat.dtypes[df_concat.dtypes == "object"].index)
categorical_numericals = list(df_concat.dtypes[df_concat.dtypes == "int64"].index)
display (categorical_variables)
display (categorical_numericals)

['emp_title',
 'state',
 'homeownership',
 'verified_income',
 'loan_purpose',
 'application_type',
 'grade',
 'sub_grade',
 'issue_month',
 'loan_status',
 'initial_listing_status',
 'disbursement_method']

['delinq_2y',
 'earliest_credit_line',
 'inquiries_last_12m',
 'total_credit_lines',
 'open_credit_lines',
 'total_credit_limit',
 'total_credit_utilized',
 'num_collections_last_12m',
 'num_historical_failed_to_pay',
 'current_accounts_delinq',
 'total_collection_amount_ever',
 'current_installment_accounts',
 'accounts_opened_24m',
 'num_satisfactory_accounts',
 'num_accounts_30d_past_due',
 'num_active_debit_accounts',
 'total_debit_limit',
 'num_total_cc_accounts',
 'num_open_cc_accounts',
 'num_cc_carrying_balance',
 'num_mort_accounts',
 'tax_liens',
 'public_record_bankrupt',
 'loan_amount',
 'term',
 'Risk_Category']

In [21]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse_output=False)
encoded_data = enc.fit_transform(df_concat[categorical_variables])

In [22]:
encoded_data

array([[0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.]])

In [23]:
feature_names = enc.get_feature_names_out(categorical_variables)

# Create a new DataFrame with encoded data and appropriate column names
encoded_df = pd.DataFrame(
    encoded_data,
    columns=feature_names
)

In [24]:
encoded_df

,emp_title_ maintenance,emp_title_ admin,emp_title_ combo psc/hub,emp_title_ coordinator,emp_title_ director of engineering,emp_title_ district manager,emp_title_ freight worker,emp_title_ lead hydraulic mechanic,emp_title_ machine operator,emp_title_ quality control technician,...,loan_status_Charged Off,loan_status_Current,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days),initial_listing_status_fractional,initial_listing_status_whole,disbursement_method_Cash,disbursement_method_DirectPay
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit and transform the numerical features
scaled_numerical = scaler.fit_transform(numerical_df)

# Create a DataFrame for scaled numerical features
scaled_numerical_df = pd.DataFrame(scaled_numerical, columns=numerical_df.columns)

# Concatenate scaled numerical features with encoded features
df_scaled = pd.concat([encoded_df, scaled_numerical_df], axis=1)

In [26]:
df_scaled

,emp_title_ maintenance,emp_title_ admin,emp_title_ combo psc/hub,emp_title_ coordinator,emp_title_ director of engineering,emp_title_ district manager,emp_title_ freight worker,emp_title_ lead hydraulic mechanic,emp_title_ machine operator,emp_title_ quality control technician,...,public_record_bankrupt,loan_amount,term,interest_rate,installment,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,1.129752,1.516684,0.328439,0.598041,1.260223,-0.125038,-0.234361,0.803250,-0.065908
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.598804,-1.102945,-0.659333,0.036489,-1.046902,-0.984292,-0.504067,-0.397975,-0.868306,-0.065908
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,-1.394166,-0.659333,0.932336,-1.372981,-1.267985,-0.558973,-0.442581,-0.953479,-0.065908
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,0.508480,-0.659333,-1.141310,0.637589,0.441019,0.206834,0.219425,-0.064791,-0.065908
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,0.644383,-0.659333,0.328439,1.053683,0.699638,-0.042846,-0.083569,0.299889,-0.065908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.598804,0.741457,-0.659333,-1.015331,0.911333,0.715313,0.120152,0.133672,-0.084142,-0.065908
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,-0.617576,-0.659333,1.320269,-0.371342,-0.533063,-0.262233,-0.268237,0.007893,-0.065908
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,1.323900,-0.659333,2.290104,2.370445,1.320619,0.537278,0.125611,3.167942,-0.065908
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,0.741457,-0.659333,-1.421262,0.836241,0.708466,0.095774,0.151236,-0.402544,-0.065908
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.367190,-0.345769,-0.659333,-0.303453,-0.195652,-0.289449,-0.211134,-0.172307,-0.321431,-0.065908

In [27]:
df_scaled['Risk_Category'] = df_concat['Risk_Category']

In [28]:
# compute class weight

from sklearn.utils import compute_class_weight

X = df_scaled.drop(columns ='Risk_Category')
y = df_scaled['Risk_Category']

#split data into training and testing

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#compute class weights
class_weights = compute_class_weight('balanced', classes= np.unique(y_train), y=y_train)

# Create a dictionary to store the class weights
class_weight_dict = dict(zip(np.unique(y_train), class_weights))

# Print the computed class weights
print("Class Weights:", class_weight_dict)

Class Weights: {0: 0.509090909090909, 1: 28.0}

## Use scaled dataframe to train Machine Learning models. RandomForestClassifier

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score, classification_report


# RandomForest Classifier with class weights
rf_classifier = RandomForestClassifier(random_state=42, class_weight= {0:0.0138, 1:(1-0.0138)})
rf_classifier.fit(X_train, y_train)
rf_predictions = rf_classifier.predict(X_test)

# Evaluating RandomForest Classifier
print("RandomForest Classifier Performance:")
print("Accuracy:", accuracy_score(y_test, rf_predictions))
print("Classification Report:")
print(classification_report(y_test, rf_predictions, zero_division=1))

# Initialize AdaBoostClassifier
adb_classifier = AdaBoostClassifier(random_state=42)

# Train AdaBoostClassifier
adb_classifier.fit(X_train, y_train)

# Make predictions on the test set
adb_predictions = adb_classifier.predict(X_test)

# Evaluate AdaBoostClassifier
adb_accuracy = accuracy_score(y_test, adb_predictions)
print("\nAdaBoost Accuracy:", adb_accuracy)
print("AdaBoost Classification Report:")
print(classification_report(y_test, adb_predictions, zero_division=1))

RandomForest Classifier Performance:
Accuracy: 0.9826666666666667
Classification Report:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      2947
           1       1.00      0.02      0.04        53

    accuracy                           0.98      3000
   macro avg       0.99      0.51      0.51      3000
weighted avg       0.98      0.98      0.97      3000


AdaBoost Accuracy: 1.0
AdaBoost Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2947
           1       1.00      1.00      1.00        53

    accuracy                           1.00      3000
   macro avg       1.00      1.00      1.00      3000
weighted avg       1.00      1.00      1.00      3000

In [30]:
# SVM 

from sklearn.svm import SVC
svm_clf = SVC(class_weight={0: class_weights[0], 1: class_weights[1]}, random_state=42)
# Train the SVM classifier
svm_clf.fit(X_train, y_train)
# Predictions
y_pred_svm = svm_clf.predict(X_test)

In [31]:
svm_testing_report = classification_report(y_test, y_pred_svm)
print("Accuracy:", accuracy_score(y_test, y_pred_svm))
print(svm_testing_report)

Accuracy: 0.9966666666666667
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2947
           1       0.96      0.85      0.90        53

    accuracy                           1.00      3000
   macro avg       0.98      0.92      0.95      3000
weighted avg       1.00      1.00      1.00      3000

## Next Steps:

1. tuning
2. model validation
3. Neuro Network


Presentation
Slide 1: Title Slide

Title: Machine Learning Classification Project
Subtitle: Predicting Risk Categories
Your Name
Date
Slide 2: Introduction

Brief overview of the project
Objective: Predicting risk categories using machine learning algorithms
Slide 3: Dataset Overview

Description of the dataset used
Number of features and samples
Target variable: Risk Category
Slide 4: Data Preprocessing

Steps involved in data preprocessing
Handling missing values
Encoding categorical variables
Scaling numerical features
Slide 5: Exploratory Data Analysis (EDA)

Visualizations of key features
Distribution of target variable
Correlation analysis
Slide 6: Model Selection

Description of machine learning algorithms used
Random Forest Classifier
AdaBoost Classifier
SVM Classifier
Slide 7: Model Training

Splitting the data into training and testing sets
Training each model on the training set
Brief description of hyperparameters used
Slide 8: Model Evaluation

Evaluation metrics used: Accuracy, Precision, Recall, F1-Score
Performance comparison of each model
Confusion matrices for each model
Slide 9: Results and Conclusion

Summary of the findings
Best performing model
Insights gained from the analysis
Future directions for improvement
Slide 10: Thank You

Acknowledgment